.flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .rounded {
    border-radius: var(--border-radius);
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  